<div class="main-grid">
    <div class="top">
        <div class="col1">
            <app-top-image></app-top-image>
        </div>
        <div class="col2">
            <app-top-text></app-top-text>
        </div>
        <div class="col3">
           <app-topsection></app-topsection>
        </div>>
    </div>
    <app-leftmenu menu="HOME"></app-leftmenu>
    <div class="right">
        <div class="body-grid">
            <div class="maininfo">
                <h1>Welcome to Bawarchi</h1>
                <p>we are located at below address</p>
                <div class="address">
                    <h5>10099 Weddington Rd Ext.</h5>
                    <h6>Charlotte, NC 28027</h6>
                </div>
                <div class="contactus">
                    <h3>Bawarchiteam@gmail.com</h3>
                    <h3>+1-704-496-3344</h3>
                    
                </div>
                <div class="someimg">
                </div>
            </div>
        </div>

    </div>
</div>

