<div>
    <div class="split toparea">
        <img src="assets/img/Bawarchi_Logo.png" alt="Bawarchi">
        <h1><marquee>Welcome to Hotel Management Application</marquee></h1>
    </div>
    <div class="split loginarea">
        <div class="signintext">
            <h3>Sign-In</h3>
        </div>
        <div class="loginsection">
            <div *ngIf="!loginForm.valid" class="errortext">
                <p>* Incorrect Login Information!</p>
                <br>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <table>
                    <tr class="form-label-row"><td><label for="username" class="form-label">User Name:</label></td></tr>
                    <tr class="form-field-row">
                        <td>
                            <input type="text" class="form-field" size="40" name="username" id="username" placeholder="Enter User Name ..." [(ngModel)]="userName">
                        </td>
                    </tr>
                    <tr class="form-label-row"><td><label for="password" class="form-label">Password:</label></td></tr>
                    <tr class="form-field-row">
                        <td>
                            <input type="password" class="form-field" size="40" name="password" id="password" placeholder="Enter Password ..." [(ngModel)]="password">
                        </td>
                    </tr>
                </table>
                <button class="btn login" type="submit">Login</button>
                <button class="btn reset" type="reset">Cancel</button>
            </form>
        </div>
    </div>

    <div class="split bottomarea">
        <div class="copyrighttext">
            <p>copy-right of Hotel Management</p>
        </div>
        <div class="bottomtext">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
       
    </div>

</div>
