<div class="main-grid">
    <div class="top">
        <div class="col1">
            <app-top-image></app-top-image>
        </div>
        <div class="col2">
            <app-top-text></app-top-text>
        </div>
        <div class="col3">
           <app-topsection></app-topsection>
        </div>>
    </div>
    <app-leftmenu menu="ABOUT US"></app-leftmenu>
    <div class="right">
        <div class="body-grid">
            <div class="about">
                <h4>About</h4>
                <p>In to am attended desirous raptures declared diverted confined at. 
                    Collected instantly remaining up certainly to necessary as. 
                    Over walk dull into son boy door went new. At or happiness commanded daughters as. 
                    Is handsome an declared at received in extended vicinity subjects. 
                    Into miss on he over been late pain an. Only week bore boy what fat case left use. 
                    Match round scale now sex style far times. Your me past an much.
                </p>
            </div>
            <div class="team">
                <ul>
                    <li>
                        <h5>John Doe</h5>
                        <img src="assets/img/JohnDoe.jpeg" alt="User">
                        <p>No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympathize her collecting occasional. Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye. Voice tried known to as my to. Though wished merits or be. Alone visit use these smart rooms ham. No waiting in on enjoyed placing it inquiry.
                        </p>
                    </li>
                    <li>
                        <h5>Marry Elisa</h5>
                        <img src="assets/img/MarryElisa.jpeg" alt="User">
                        <p>No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympathize her collecting occasional. Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye. Voice tried known to as my to. Though wished merits or be. Alone visit use these smart rooms ham. No waiting in on enjoyed placing it inquiry.
                        </p>
                    </li>
                    <li>
                        <h5>Lincon Vin</h5>
                        <img src="assets/img/Vin_Disel.jpeg" alt="User">
                        <p>No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympathize her collecting occasional. Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye. Voice tried known to as my to. Though wished merits or be. Alone visit use these smart rooms ham. No waiting in on enjoyed placing it inquiry.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>